<div class="container">
  <div class="row">

    <% @users.each do |user| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "card", user: user %>
      </div>
    <% end %>

  </div>
</div>

<h1>
  <% @users.each do |user| %>
  <%= %>
  <% end %>
</h1>
