<h1 class="text-center">My super projects</h1>


<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('http://www.dvi43.com/wp-content/uploads/2015/01/geek.jpg')">
          </span>

          <span class="card-shadow"></span>
          <span class="card-description"><%= project.price %></span>
          <span class="card-text">
            <h2><%= project.name %></h2>
            <p><%= project.description%></p>
          </span>
          <span class="card-user">
            <%= image_tag current_user.avatar, class:"avatar avatar-bordered" %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
