<div class="banner text-center">
 <div class="banner-shadow"></div>
 <div class="banner-content">
   <h1>Turn Big Ideas into Great Products</h1>

   <div>
     <h3> Millions of startup use our platform to turn their ideas into reality. <br>Need to get work done?</br> Search an expert to get started!</h3>
   </div>

 </div>


<!--Searchbar-->
 <div class="searchbar">
  <form action="/skills" class='form-inline' method="get">
      <input type="text" name="search_term" class="searchbar-input form-control">
      <button type="submit" class="btn btn-primary">Rechercher</button>
  </form>
   <div>
    <h4>Are you talented and looking for work? <%= link_to "Sign up as ninja", new_user_registration_path%></h4>
  </div>
 </div>
</div>


<div class="bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">Create your project
        <div class="card-home">Describe what you need to do and tell us your budget.</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">Add your skills
        <div class="card-home", "text-center">Start earn money from fancy projects all around the world.</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">Choose your coding ninja
        <div class="car-home">Receive competitive quotes and choose the right freelance.</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">Work done !
        <div class="card-home">The freelance complete the work. You only pay when you are satisfied.</div>
      </div>
    </div>
  </div>
</div>







