<div class="banner text-center">
 <div class="banner-shadow"></div>
 <div class="banner-content">
   <h1>Adopte un dev'</h1>
   <p></p>
 </div>
 <div class="img-tag" style="width:100%, background-color:whites">
  <%= image_tag "train-logo.png" %>
 </div>

<!--Searchbar-->
 <div class="searchbar">
  <form action="/users" class='form-inline'>
      <input type="text" name="search_term" class="searchbar-input form-control">
      <button type="submit" class="btn btn-primary">Rechercher</button>
  </form>
 </div>

</div>



