<div class="banner text-center">
 <div class="banner-shadow"></div>
 <div class="banner-content">
   <h1>Turn Big Ideas into Great Products</h1>

   <div>
     <h3> Millions of startup use our platform to turn their ideas into reality. <br>Need to get work done?</br> Search an expert to get started!</h3>
   </div>

 </div>


<!--Searchbar-->
 <div class="searchbar">
  <form action="/skills" class='form-inline' method="get">
      <input type="text" name="search_term" class="searchbar-input form-control">
      <button type="submit" class="btn btn-primary">Rechercher</button>
  </form>
   <div>
    <h4>Are you talented and looking for work? <%= link_to "Sign up as ninja", new_user_registration_path%></h4>
  </div>
 </div>
</div>


<div class="bg-grey">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-3"><h4>Create your project</h4>
        <div><p>Describe what you need to do and tell us your budget.</p></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3"><h4>Add your skills</h4>
        <div><p>Start earn money from fancy projects all around the world.</p></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3", "card-home"><h4>Choose your coding ninja</h4>
        <div><p>Receive competitive quotes and choose the right freelance.</p></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3"><h4>Work done !</h4>
        <div><p>The freelance complete the work. You only pay when you are satisfied.</p></div>
      </div>
    </div>
  </div>
</div>

<div class="bg-black text-center">
  <h1 class="padded-top-small">GET INSPIRED FROM FANCY PROJECTS</h1>
  <p class="padded-bottom-small">You can get anything done on Adopt a dev. Which great idea will you launch today?</p>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <div class="card-home card-home-panoramic text-center">
          <img src="https://cdn5.f-cdn.com/build/css/abtests/20150608/images/showcase/large/web-design-development.jpg?v=87e605e2400c597b2a1f7c7629440df8&m=5" alt="">
          <div class="card-content">
            <h4>Webdesign and Dévelopment</h4>
            <p>Starting from 100€</p>
          </div>

        </div>

      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="card-home card-home-square text-center">
          <img src="https://cdn2.f-cdn.com/build/css/abtests/20150608/images/showcase/large/software-development.jpg?v=dcbb56d7082d0d80641cd8325aaec229&m=5" alt="">
          <div class="card-content">
            <h4>Software Development</h4>
            <p>Starting from 175€</p>
          </div>

        </div>

      </div>
      <div class="col-xs-12 col-sm-9">
        <div class="card-home card-home-panoramic text-center">
          <img src="https://cdn6.f-cdn.com/build/css/abtests/20150608/images/showcase/large/mobile-app-design-and-development.jpg?v=0b12c23c7e2bb8ebb89fe5d95598e1b9&m=5" alt="">
          <div class="card-content">
            <h4>Mobile App Development</h4>
            <p>Starting from 250€</p>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="card-home card-home-square text-center">
          <img src="https://cdn3.f-cdn.com/build/css/abtests/20150608/images/showcase/large/seo-and-marketing.jpg?v=81466a409fe6da5ae19d2a274b48dcf6&m=5" alt="">
          <div class="card-content">
            <h4>SEO & Marketing</h4>
            <p>Starting from 15€</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>








