<div class="banner text-center" style="background-image: url('http://unsplash.it/1000/400?')">
 <div class="banner-shadow"></div>
 <div class="banner-content">
   <h1>Adopte un dev'</h1>
   <p></p>
   <a class="btn btn-primary btn-lg">En savoir plus</a>
 </div>

<!--Searchbar-->
 <div class="searchbar">
  <form action="" class='form-inline'>
      <input type="text" class="searchbar-input form-control">
      <button type="submit" class="btn btn-primary">Rechercher</button>
  </form>
 </div>

</div>



