.searchbar {
  width: 100%;
  padding: 14px 40px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  z-index: 1;

  form {
    display: flex;
    align-items: center;
  }

  .searchbar-input {
    flex: 1 0 0;
    align-self: stretch;
    height: auto;
    border-radius: 3px 0 0 3px;
  }

}



